﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome to donet</title>
</head>
<body>
    <div>
        <h2>当前页面: @ViewBag.viewName</h2>
            <input id="path" />
            <button id="go">gogogo</button>
    </div>
    <script>
        document.getElementById("go").onclick = function () {
            window.location.href = document.getElementById("path").value
        }
        
    </script>
</body>
</html>
