﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome to donet</title>
</head>
<body>
    <div>
        <h2>当前页面: @ViewBag.viewName</h2>
        <form>
            <input name="path" />
            <button type="submit">gogogo</button>
        </form>
    </div>
</body>
</html>
